<template>
  <div class="container-fluid">
    <loading :active.sync="isLoading" :is-full-page="fullPage"></loading>
    <div class="row">
      <div class="col-12 bg-light">
        <div class="row">
          <div class="col-12 p-2">
            <router-link to>｜返回官網｜</router-link>
            <router-link to="/">｜返回目錄｜</router-link>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <b-card img-src="/img/topBanner_all.png" img-alt="Image" img-top tag="article" no-body>
          <!-- <b-button variant="primary" @click="noSingle()">整頁模式</b-button>
          <b-button variant="primary" @click="isSingle()">單題模式</b-button>-->
        </b-card>
      </div>
    </div>
    <div class="row sticky-top">
      <div class="col-12">
        <b-nav id="myNav" tabs align="left" class="pt-1 d-flex justify-content-between">
          <div class="d-flex">
            <b-nav-item @click="noSingle()" :class="{active:!single}">整頁模式</b-nav-item>
            <b-nav-item @click="isSingle()" :class="{active:single}">單題模式</b-nav-item>
          </div>
          <b-form-checkbox class="align-self-center" switch size="lg" v-model="tip">顯示提示</b-form-checkbox>
          <div class="d-flex align-items-center justify-content-between">
            <span class="pr-5">
              <font-awesome-icon :icon="['fas', 'stopwatch']" />
              {{ later | moment("HH:mm:ss") }}
            </span>
            <b-button v-if="!finish" @click="showMsgBoxOne">繳交考卷</b-button>
            <b-button v-if="finish" @click="reloadPage()">重新作答</b-button>
          </div>
        </b-nav>
      </div>
    </div>

    <div class="row" v-if="finish === true">
      <div class="col-12 text-center">
        <h1 id="myScore">分數：{{score}}</h1>
      </div>
    </div>
    <div class="d-flex">
      <div v-if="single">
        <button type="button" class="btn btn-link" @click="lessQ()" :disabled="qkeyf === 1">|上一題|</button>
      </div>
      <div v-if="single">
        <button
          type="button"
          class="btn btn-link"
          @click="addQ()"
          :disabled="qkeyf==questions2.length"
        >|下一題|</button>
      </div>
      <div v-if="!finish">
        <button type="button" class="btn btn-link" @click="toWithout()">|到未作答題目|</button>
      </div>
    </div>

    <div class="mycard">
      <questions @qkey2="getqkey" :proqkey="qkeyf" :proTip="tip" :proRe="reload"></questions>
    </div>
    <!-- <div id="toq" class="row position-fixed">
      <div class="col-3">
        <div class="row m-0" >
          <b-button-group >
          <b-button
            v-for="(item, index) in questions2"
            :key="index"
            v-scroll-to="{ element: `#__q${index}` }"
            @click="quick_setQ(index)"
          >{{index + 1}}</b-button>
        </b-button-group>
        </div>
      </div>
    </div>-->
    <div id="toq" class="row position-fixed text-center m-0">
      <div class="col-11 p-0">
        <div class="d-flex flex-wrap" style="width:400px">
          <div
            v-for="(item, index) in AllAns"
            :key="index"
            v-scroll-to="{ element: `#__q${index + 1}` }"
            @click="quick_setQ(item.group)"
            style="width:40px"
          >
            <div :class="{active:selectedAns[index]}">{{index + 1}}</div>
          </div>
        </div>
      </div>
      <div id="quickTitle" class="col-1">題號快速選單</div>
    </div>
    <div id="totop" class="position-fixed">
      <!-- <b-button variant="light" size="lg" @click="totop()">回至頂端</b-button> -->
      <div
        class="d-flex align-items-center justify-content-center rounded-circle text-center"
        style="width: 50px; height: 50px;"
        @click="totop()"
      >
        <div>TOP</div>
      </div>
    </div>
    <footer class="pl-3 pr-3 pt-2 pb-2">
      <div class="row text-center">
        <div class="col-12 p-0">
          <small>
            馬跡領隊導遊訓練‧派遣中心 ADD/
            106 台北市大安區復興南路二段268號5樓 諮詢服務/
            週一至週五 10:00-18:00 (02)2733 - 8118
          </small>
        </div>
        <div class="col-12 p-0">
          <small>
            馬跡庫比有限公司 版權所有
            © 2012 Mageecube Company All Rights Reserved.
          </small>
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
// eslint-disable-next-line import/no-unresolved
import questions from '@/components/ComQuestions.vue';
// eslint-disable-next-line no-unused-vars
import store from '@/store';
import _ from 'lodash';
import mem from '@/service/member';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name: 'exam',
  data() {
    return {
      isLoading: false,
      fullPage: true,
      times: '',
      min: 0,
      later: '',
      qkeyf: 1,
      isOver: false,
      tip: false,
      reload: false,
      // stopTimes: false,
    };
  },
  props: {
    selected: {},
  },
  components: {
    questions,
    Loading,
  },
  methods: {
    reloadPage() {
      const now = this.$moment().set('hour', 0);
      now.set('minute', 0);
      now.set('second', 0);
      this.later = now.add(1, 'h');
      this.$store.commit('exam/setTimes', false);
      this.$store.commit('exam/saveFinish', { tf: false });
      this.$store.commit('exam/clearAns');
      this.reload = true;
      this.countdownTimes();
    },
    showMsgBoxOne() {
      this.$store.dispatch('exam/checkFinish');
      this.$bvModal.msgBoxConfirm(this.message1).then((value) => {
        if (value) {
          this.$store.dispatch('exam/calculationScore');
          this.$store.commit('exam/setTimes', true);
          this.$store.commit('exam/saveFinish', { tf: true });
          this.$store.dispatch('exam/check', false);
          this.reload = false;
        } else {
          this.$store.commit('exam/setTimes', false);
          this.$store.commit('exam/saveFinish', { tf: false });
        }
      });
    },
    toWithout() {
      for (let i = 0; i <= this.totalQuestion; i += 1) {
        if (this.single) {
          if (!this.selectedAns[i]) {
            this.qkeyf = i + 1;
            break;
          }
        } else if (!this.selectedAns[i]) {
          this.$scrollTo(`#__q${i + 1}`, 500);
          this.qkeyf = i + 1;
          break;
        }
      }

      // for (let i = 0; i <= this.totalQuestion; i += 1) {
      //   if (this.single) {
      //     if (this.questions2[i].status === false) {
      //       this.qkeyf = i + 1;
      //       break;
      //     }
      //   } else if (this.questions2[i].status === false) {
      //     this.$scrollTo(`#__q${i + 1}`, 500);
      //     this.qkeyf = i + 1;
      //     break;
      //   }
      //   // if (this.questions2[i].status === false) {
      //   //   this.$scrollTo(`#__q${i}`, 500);
      //   //   this.qkeyf = i;
      //   //   break;
      //   // }
      // }
    },
    getqkey(data) {
      this.qkeyf = data;
    },
    quick_setQ(index) {
      console.log(index);
      this.qkeyf = index;
    },
    addQ() {
      // let temp = this.$store.state.exam.qkey;
      // if (temp < this.$store.state.exam.questions.length - 1) {
      //   temp += 1;
      // }
      // this.$store.commit('exam/setqkey', temp);
      if (this.qkeyf <= this.questions2.length) {
        if (this.single) {
          this.qkeyf = this.qkeyf + 1;
        }
      }
    },
    lessQ() {
      // let temp = this.$store.state.exam.qkey;
      // if (temp !== 0) {
      //   temp -= 1;
      //   this.$store.commit('exam/setqkey', temp);
      // }
      if (this.qkeyf !== 1) {
        if (this.single) {
          this.qkeyf = this.qkeyf - 1;
        } else {
          //
        }
      }
    },
    countdownTimes() {
      if (!this.stopTimes) {
        if (this.later.format('HH:mm:ss') !== '00:00:00') {
          setTimeout(() => {
            const temp = this.later.subtract('seconds', 1);
            this.later = this.$moment(temp);
            this.countdownTimes();
          }, 1000);
        } else {
          this.$store.commit('exam/saveFinish', { tf: true });
          this.$store.dispatch('exam/calculationScore');
        }
      }
    },
    // finishAll() {
    //   // if (this.stopTimes !== true) {
    //   //   this.$store.dispatch('exam/checkFinish');
    //   // } else {
    //   //   this.$store.dispatch('exam/checkFinish');
    //   // }
    // },
    totop() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    },
    noSingle() {
      this.$store.dispatch('exam/check', false);
    },
    isSingle() {
      this.$store.dispatch('exam/check', true);
    },
  },
  created() {
    // this.$store.dispatch('exam/getQuestons');
    this.isLoading = true;
  },
  mounted() {
    const now = this.$moment().set('hour', 0);
    now.set('minute', 0);
    now.set('second', 0);
    this.later = now.add(1, 'h');
    this.countdownTimes();

    const con = mem.QuestionsRecord({
      id: this.userInfo.id,
    });

    con.then((response) => {
      console.log(_.padStart(this.$route.params.year, 3, 0));
      const formatYear = _.padStart(this.$route.params.year, 3, 0);
      // this.$store.dispatch('exam/getQuestons', {
      //   year: this.$route.params.year,
      //   type: this.$route.params.type,
      //   examId: this.$route.params.examId,
      //   method: this.$route.params.method,
      // });

      console.log(response.data);
      const isBuy = _.some(response.data, {
        exam_re: `EXAM_${formatYear}${this.$route.params.examId}`,
      });
      console.log(`isBuy${isBuy}`);
      if (this.$route.params.method !== 'test') {
        if (isBuy) {
          //   this.$store.dispatch('indexPage/checkLogin');
          this.$store.dispatch('exam/getQuestons', {
            year: this.$route.params.year,
            type: this.$route.params.type,
            examId: this.$route.params.examId,
            method: this.$route.params.method,
          });
        } else {
          this.$router.push('/');
        }
      } else {
        this.$store.dispatch('exam/getQuestons', {
          year: this.$route.params.year,
          type: this.$route.params.type,
          examId: this.$route.params.examId,
          method: this.$route.params.method,
        });
      }
      this.isLoading = false;
      // `EXAM_${formatYear}${this.$route.params.examId}`;
    });

    // const formatYear = _.padStart(this.$route.params.year, 3, 0);
    // const checkBuy = _.some(this.userInfo.questions_record, {
    //   exam_re: `EXAM_${formatYear}${this.$route.params.examId}`,
    // });
    // console.log(checkBuy);

    // if (checkBuy) {
    //   this.$store.dispatch('exam/getQuestons', {
    //     year: this.$route.params.year,
    //     type: this.$route.params.type,
    //     examId: this.$route.params.examId,
    //     method: this.$route.params.method,
    //   });
    // } else {
    //   //
    // }

    // if (this.isLogin) {
    //   this.axios.post('http://localhost/magee_exam/public/api/QuestionsRecord', {
    //     pk: 1,
    //   }).then((response) => {
    //     // console.log(_.padStart(this.$route.params.year, 3, 0));
    //     const formatYear = _.padStart(this.$route.params.year, 3, 0);

    //     console.log(response.data);
    //     const isBuy = _.some(response.data, { exam_re: `EXAM_${formatYear}${this.$route.params.examId}` });
    //     if (isBuy) {
    //       // this.$store.dispatch('indexPage/checkLogin');
    //       this.$store.dispatch('exam/getQuestons', {
    //         year: this.$route.params.year,
    //         type: this.$route.params.type,
    //         examId: this.$route.params.examId,
    //         method: this.$route.params.method,
    //       });
    //     } else {
    //       this.$router.push('/');
    //     }

    //     // `EXAM_${formatYear}${this.$route.params.examId}`
    //   });
    // } else if (this.status === 'test') {
    //   this.$store.dispatch('exam/getQuestons', {
    //     year: this.$route.params.year,
    //     type: this.$route.params.type,
    //     examId: this.$route.params.examId,
    //     method: this.$route.params.method,
    //   });
    // } else {
    //   this.$router.push('/');
    // }
  },
  watch: {
    // isLogin() {
    //   console.log('123');
    //   if (this.isLogin) {
    //     this.axios.post('http://localhost/magee_exam/public/api/QuestionsRecord', {
    //       pk: 1,
    //     }).then((response) => {
    //       // console.log(_.padStart(this.$route.params.year, 3, 0));
    //       const formatYear = _.padStart(this.$route.params.year, 3, 0);
    //       console.log(response.data);
    //       const isBuy = _.some(response.data, { exam_re: `EXAM_${formatYear}${this.$route.params.examId}` });
    //       if (isBuy) {
    //         // this.$store.dispatch('indexPage/checkLogin');
    //         this.$store.dispatch('exam/getQuestons', {
    //           year: this.$route.params.year,
    //           type: this.$route.params.type,
    //           examId: this.$route.params.examId,
    //           method: this.$route.params.method,
    //         });
    //       } else {
    //         this.$router.push('/');
    //       }
    //       // `EXAM_${formatYear}${this.$route.params.examId}`
    //     });
    //   } else if (this.status === 'test') {
    //     this.$store.dispatch('exam/getQuestons', {
    //       year: this.$route.params.year,
    //       type: this.$route.params.type,
    //       examId: this.$route.params.examId,
    //       method: this.$route.params.method,
    //     });
    //   } else {
    //     this.$router.push('/');
    //   }
    // },
  },
  computed: {
    userInfo: {
      get() {
        return this.$store.state.indexPage.userinfo;
      },
    },
    AllAns: {
      get() {
        return this.$store.state.exam.questions.questionAns;
      },
    },
    status: {
      get() {
        return this.$store.state.indexPage.status;
      },
    },
    info: {
      get() {
        return this.$store.state.indexPage.loginInfo;
      },
    },
    selectedAns: {
      get() {
        return this.$store.state.exam.selectedAns;
      },
    },
    totalQuestion: {
      get() {
        return this.$store.state.exam.questions.totalQuestion;
      },
    },
    isLogin: {
      get() {
        return this.$store.state.indexPage.isLogin;
      },
    },
    stopTimes: {
      get() {
        return this.$store.state.exam.stopTimes;
      },
    },
    questions2: {
      get() {
        return this.$store.state.exam.questions.result;
      },
    },
    single: {
      get() {
        return this.$store.state.exam.single;
      },
    },
    finish: {
      get() {
        return this.$store.state.exam.finish;
      },
    },
    score: {
      get() {
        return this.$store.state.exam.score;
      },
    },
    message1: {
      get() {
        return this.$store.state.exam.message;
      },
    },
  },
  // beforeRouteEnter(to, from, next) {
  //   store.dispatch('indexPage/checkLogin').then((data) => {
  //     console.log(`islogin${data.data.status}`);
  //     data.data.status ? next() : next({ name: 'index' });
  //   });

  //   // next();
  // },

  beforeRouteEnter(to, from, next) {
    if (to.params.method === 'test') {
      next();
    } else {
      store.dispatch('indexPage/checkLogin').then((response) => {
        console.log(`islogin${response.data.status}`);
        response.data.status ? next() : next({ name: 'index' });
      });
    }
    // next();
  },
  beforeRouteLeave(to, from, next) {
    store.commit('exam/clearAns');
    store.commit('exam/setTimes', false);
    store.commit('exam/saveFinish', { tf: false });
    next();
  },
};
</script>
<style lang="scss">
#myScore{
  font-size:80px;
}

#myNav{
  background-color: white;
}
.nav-tabs .nav-link {
  width: 250px;
  text-align: center;
}
.nav-item {
  a {
    color: black;
  }
  &.active {
    background-color: rgb(3, 71, 160);
    a {
      color: #ffffff;
    }
  }
}
.container-fluid {
  width: 960px;
  min-width: 960px;
  max-width: 960px;
}
#toq {
  top: 15%;
  left: -400px;
  &#toq:hover {
    left: 0px;
  }
}
#toq {
  .col-11.p-0 {
    .d-flex.flex-wrap {
      div {
        cursor: pointer;
        border-style: outset;
        &.active {
          background: rgb(255, 221, 170);
          border-style: inset;
        }
        &:hover {
          background: rgb(250, 243, 228);
          border-style: inset;
        }
      }
    }
  }
}

#totop {
  top: 85%;
  left: 0;
  width: 200px;
  .d-flex.align-items-center.justify-content-center.rounded-circle.text-center{
    background: white;
    &:hover{
      background: #fc6;
    }
  }
}
#quickTitle {
  writing-mode: vertical-lr;
  background: #ffffff;
  text-align: center;
  // text-align-last: justify;
  letter-spacing: 20px;
  height: 320px;
  padding: 5px;
}
.d-flex.flex-wrap {
  background-color: white;
}

.pl-3.pr-3 {
  background-color: #fc6;
}
</style>
