<template>
  <div class="container">
    <loading :active.sync="isLoading" :is-full-page="fullPage"></loading>
    <div id="index_img" class="row pb-5">
      <div class="col-8 p-0">
        <div class="row p-0">
          <div class="col-12 pt-3">
            <router-link to="">｜返回官網｜</router-link>
          </div>
        </div>
      </div>
      <div id="login_exam_com" class="col-4 p-4 mt-5">
        <comlogin></comlogin>
      </div>
    </div>
    <div class="row p-4">
      <div class="col-12 p-0">
      <div class="row">
        <div id="index_mid" class="col-4"></div>
        <div id="index_mid_title" class="col-8">
          <p class="text-center m-0 p-2 text-white">題目選單</p>
        </div>
      </div>
      </div>
      <div class="col-12 p-0">
      <div class="row">
        <div id="about" class="col-4 p-4">
          <h4>認識馬跡測驗平台</h4>
          <small>
            聞道有先後，術業有專攻，馬跡中心一直以來秉持認真、
            用心的態度，希望將我們的帶團、考照經驗，無私的與學員互相交流、
            傳承，期許每位學員未來在踏上領隊導遊的工作上，能更順利、成功！
          </small>
        </div>
        <div id="questionFilter" class="col-8 p-4">
          <b-form-group
            label-cols="2"
            label="考試大類"
            label-align-sm="right"
            label-for="nested-street"
          >
            <b-form-select
              disabled-field="notEnabled"
              :options="options"
              value-field="item"
              text-field="name"
              v-model="selected"
              @change="clean()"
            ></b-form-select>
          </b-form-group>
          <b-form-group
            label-cols="2"
            label="考試科目"
            label-align-sm="right"
            label-for="nested-street"
          >
            <b-form-select
              disabled-field="notEnabled"
              :options="options2"
              value-field="item"
              text-field="name"
              v-model="selected2"
              @change="clean2()"
            ></b-form-select>
          </b-form-group>
          <b-form-group
            label-cols="2"
            label="考試年度"
            label-align-sm="right"
            label-for="nested-street"
          >
            <b-form-select
              disabled-field="notEnabled"
              :options="options3"
              value-field="item"
              text-field="name"
              v-model="selected3"
            ></b-form-select>
          </b-form-group>
          <div class="d-flex justify-content-between">
            <div>
              <b-button class="examBtn ml-3" variant="success" @click="getQuestions()">試用版測驗</b-button>
            </div>
            <div>
              <b-button class="examBtn" variant="warning" v-b-modal.modal-center2 @click="checkisLogin()">會員版測驗</b-button>
            </div>
          </div>
          <div class="row">
            <div id="ps" class="col-12">
              <small>註: 試用版僅提供十題題目供試用</small>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div v-if="isLogin === true && isSelected === true">
      <b-modal id="modal-center2" :visible="true" centered title="試題購買" @ok="getQuestionsVip()">
        <b-table-simple hover small caption-top stacked>
          <b-tbody>
            <b-tr>
              <b-td stacked-heading="購買試題代號：">{{`EXAM_${this.selected3}${this.selected2.examId}`}}</b-td>
              <b-td stacked-heading="購買試題名稱：">108年 華外語導遊實務一 [會員版]</b-td>
              <b-td stacked-heading="您儲存的點數：" variant="danger">190</b-td>
              <b-td stacked-heading="即將扣除的點數：" variant="danger">-10</b-td>
              <b-td stacked-heading="購買後您的點數餘額：" variant="danger">180</b-td>
            </b-tr>
          </b-tbody>
        </b-table-simple>
      </b-modal>
    </div>
    <footer>
      <div class="row text-center">
        <div class="col-12 p-0">
          <hr />
          <small>
            馬跡領隊導遊訓練‧派遣中心 ADD/
            106 台北市大安區復興南路二段268號5樓 諮詢服務/
            週一至週五 10:00-18:00 (02)2733 - 8118
          </small>
        </div>
        <div class="col-12 p-0">
          <small>
            馬跡庫比有限公司 版權所有
            © 2012 Mageecube Company All Rights Reserved.
          </small>
          <hr />
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
import comlogin from '@/components/ComLogin.vue';
// eslint-disable-next-line no-unused-vars
import _ from 'lodash';
import que from '@/service/questions';
import mem from '@/service/member';
import store from '@/store';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  components: {
    comlogin,
    Loading,
  },
  data() {
    return {
      isLoading: false,
      fullPage: true,
      buy: true,
      isSelected: false,
      selected: '',
      selected2: { type: '' },
      selected3: 0,
      test: '<h1>MYTEST</h1>',
      options: [
        {
          item: '',
          name: '請選擇考試大類',
        },
        {
          item: 'CG',
          name: '華語導遊',
        },
        {
          item: 'EG',
          name: '外語導遊',
        },
        {
          item: 'CL',
          name: '華語領隊',
        },
        {
          item: 'EL',
          name: '外語領隊',
        },
      ],
    };
  },
  methods: {
    checkisLogin() {
      // const getRecordCon = mem.QuestionsRecord({ pk: this.userInfo_pk });
      // getRecordCon.then(response => response.data);

      this.isLoading = true;
      const getRecordCon = store.dispatch('indexPage/getRecord', {
        pk: this.userInfo_pk,
      });
      getRecordCon.then((response) => {
        this.isLoading = false;

        console.log(response.data);

        const formatYear = _.padStart(this.selected3, 3, 0);

        const checkBuy = _.some(response.data, {
          exam_re: `EXAM_${formatYear}${this.selected2.examId}`,
        });
        console.log(checkBuy);

        if (!this.isLogin) {
          this.$bvModal.msgBoxOk('請登入');
        } else if (
          this.selected === ''
          || this.selected2 === { type: '' }
          || this.selected3 === 0
        ) {
          this.$bvModal.msgBoxOk('請選擇考題');
          this.isSelected = false;
        } else if (checkBuy) {
          this.isSelected = false;
          if (this.selected3 >= 102 && this.selected2.examId === 'UL3') {
            if (this.selected === 'CL') {
              this.selected2.examId = 'CL3';
            }
            if (this.selected === 'EL') {
              this.selected2.examId = 'EL3';
            }
          }
          if (
            this.selected3 === 107
            && (this.selected2.examId === 'CL2'
              || this.selected2.examId === 'EL2'
              || this.selected2.examId === 'EG2'
              || this.selected2.examId === 'CG2')
          ) {
            this.selected2.examId = `U${this.selected2.examId.substring(1)}`;
          }
          if (
            this.selected3 === 108
            && (this.selected2.examId === 'CL2'
              || this.selected2.examId === 'EL2'
              || this.selected2.examId === 'EG2'
              || this.selected2.examId === 'CG2')
          ) {
            this.selected2.examId = `U${this.selected2.examId.substring(1)}`;
          }
          if (
            this.selected !== ''
            && this.selected2 !== { type: '' }
            && this.selected3 !== 0
          ) {
            // this.$store.dispatch('exam/getQuestons', {
            //   year: this.selected3,
            //   type: this.selected2.type,
            //   examId: this.selected2.examId,
            //   method: this.status,
            // });
            this.$router.push({
              name: 'exam',
              params: {
                year: this.selected3,
                type: this.selected2.type,
                examId: this.selected2.examId,
                method: this.status,
              },
            });
          } else {
            this.$bvModal.msgBoxOk('請選擇考題');
          }
        } else {
          this.isSelected = true;
          console.log(this.isSelected);
        }
      });

      // if (checkBuy) {
      //   this.$router.push({
      //     name: 'exam',
      //     params: {
      //       year: this.selected3,
      //       type: this.selected2.type,
      //       examId: this.selected2.examId,
      //       method: this.status,
      //     },
      //   });
      // } else {
      //   this.$store.dispatch('exam/getQuestons', {
      //     year: this.selected3,
      //     type: this.selected2.type,
      //     examId: this.selected2.examId,
      //     method: this.status,
      //   });
      // }
    },
    getQuestions() {
      if (this.selected3 >= 102 && this.selected2.examId === 'UL3') {
        if (this.selected === 'CL') {
          this.selected2.examId = 'CL3';
        }
        if (this.selected === 'EL') {
          this.selected2.examId = 'EL3';
        }
      }
      if (
        this.selected3 === 107
        && (this.selected2.examId === 'CL2'
          || this.selected2.examId === 'EL2'
          || this.selected2.examId === 'EG2'
          || this.selected2.examId === 'CG2')
      ) {
        this.selected2.examId = `U${this.selected2.examId.substring(1)}`;
      }
      if (
        this.selected3 === 108
        && (this.selected2.examId === 'CL2'
          || this.selected2.examId === 'EL2'
          || this.selected2.examId === 'EG2'
          || this.selected2.examId === 'CG2')
      ) {
        this.selected2.examId = `U${this.selected2.examId.substring(1)}`;
      }
      if (
        this.selected !== ''
        && this.selected2 !== { type: '' }
        && this.selected3 !== 0
      ) {
        // this.$store.dispatch('exam/getQuestons', {
        //   year: this.selected3,
        //   type: this.selected2.type,
        //   examId: this.selected2.examId,
        //   method: 'test',
        // });
        this.$router.push({
          name: 'exam',
          params: {
            year: this.selected3,
            type: this.selected2.type,
            examId: this.selected2.examId,
            method: 'test',
          },
        });
      } else {
        // alert('請選擇考題');
        this.$bvModal.msgBoxOk('請選擇考題');
      }
    },
    getQuestionsVip() {
      if (this.selected3 >= 102 && this.selected2.examId === 'UL3') {
        if (this.selected === 'CL') {
          this.selected2.examId = 'CL3';
        }
        if (this.selected === 'EL') {
          this.selected2.examId = 'EL3';
        }
      }
      if (
        this.selected3 === 107
        && (this.selected2.examId === 'CL2'
          || this.selected2.examId === 'EL2'
          || this.selected2.examId === 'EG2'
          || this.selected2.examId === 'CG2')
      ) {
        this.selected2.examId = `U${this.selected2.examId.substring(1)}`;
      }
      if (
        this.selected3 === 108
        && (this.selected2.examId === 'CL2'
          || this.selected2.examId === 'EL2'
          || this.selected2.examId === 'EG2'
          || this.selected2.examId === 'CG2')
      ) {
        this.selected2.examId = `U${this.selected2.examId.substring(1)}`;
      }
      if (
        this.selected !== ''
        && this.selected2 !== { type: '' }
        && this.selected3 !== 0
      ) {
        // if (this.userInfo.questions_record) {
        //   //
        // }
        const formatYear = _.padStart(this.selected3, 3, 0);

        console.log({
          id: this.userInfo_pk,
          examid: `EXAM_${formatYear}${this.selected2.examId}`,
        });
        // this.$store.dispatch('indexPage/buyquestions', {
        //   id: this.userInfo_pk,
        //   examid: `EXAM_${formatYear}${this.selected2.examId}`,
        // });

        const con = que.buyquestions({
          id: this.userInfo_pk,
          examId: `EXAM_${formatYear}${this.selected2.examId}`,
        });
        con.then((response) => {
          console.log(response.data);
          // this.$store.dispatch('exam/getQuestons', {
          //   year: this.selected3,
          //   type: this.selected2.type,
          //   examId: this.selected2.examId,
          //   method: this.status,
          // });

          this.$router.push({
            name: 'exam',
            params: {
              year: this.selected3,
              type: this.selected2.type,
              examId: this.selected2.examId,
              method: this.status,
            },
          });
        });
      } else {
        this.$bvModal.msgBoxOk('請選擇考題');
      }
    },
    clean() {
      this.selected2 = { type: '' };
      this.selected3 = 0;
    },
    clean2() {
      this.selected3 = 0;
    },
  },
  mounted() {},
  computed: {
    userInfo_pk: {
      get() {
        return this.$store.state.indexPage.userinfo_pk;
      },
    },
    userInfo: {
      get() {
        return this.$store.state.indexPage.userinfo;
      },
    },
    isLogin: {
      get() {
        return this.$store.state.indexPage.isLogin;
      },
    },
    status: {
      get() {
        return this.$store.state.indexPage.status;
      },
    },
    options2() {
      const middle = this.selected.search(/G/i) > -1 ? 'G' : 'L';
      const b = [
        {
          item: { type: '' },
          name: '請選擇考試科目',
        },
      ];
      if (this.selected) {
        b.push({
          item: { type: 'C', examId: `U${middle}1` },
          name: '實務一',
        });
        b.push({
          item: { type: 'C', examId: `C${middle}2` },
          name: '實務二',
        });
        b.push({
          item: { type: 'C', examId: `U${middle}3` },
          name: '觀光資源概要',
        });
        console.log(this.selected === 'EL');
        if (this.selected === 'EL' || this.selected === 'EG') {
          b.push({
            item: { type: 'E', examId: `E${middle}4` },
            name: '英語',
          });
          b.push({
            item: { type: 'J', examId: `J${middle}5` },
            name: '日語',
          });
          console.log('hello');
        }
      }
      return b;
    },
    options3() {
      const temp = [{ item: 0, name: '請選擇年度' }];
      if (this.selected2.type !== '') {
        console.log(this.selected2.type);
        for (let i = 108; i >= 93; i -= 1) {
          temp.push({ item: i, name: i });
        }
      }
      if (this.selected2.type === 'J') {
        for (let i = 0; i < 3; i += 1) {
          temp.pop();
        }
      }
      return temp;
    },
  },
  // watch: {
  //   selected(value) {
  //     console.log(value);
  //     // this.test(value);
  //   },
  // },
};
</script>

<style lang="scss">
.examBtn{
  width: 200px;
}
#ps{
  // margin-left: 70px;
}
.container {
  width: 1000px;
  min-width: 900px;
  max-width: 960px;
  background-color: #f5f1e8;
}
#index_mid_title {
  background-color: #af8e6a;
}
#index_mid {
  background-color: #8f5e3a;
}
#about {
  background-color: #f5eac9;
}
#questionFilter {
  background-color: #f5eac9;
}
#index_img {
  background-image: url("../assets/UI_BannerLoginIn.png");
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
</style>
