body,html {
    background-color: #f5f5f5;
    font-size: 15px;
    font-family: '微軟正黑體';
}

.question-box {
    &.question-single {
        .question-exam {
            display: none;

            &.active {
                display: block;

                // .card .row.no-gutters .col-8 .card-body {
                //     .card-text.active{
                //         background-color:red;
                //     }
                // }
            }
        }
    }
}

.questionAll {
    // font-size: 16pt;
    .card-text{
        &.activeFinish{
            background: black;
        }
    }
    .card-text.active {
        background: rgb(255, 221, 170);
        
    }
}

#qTitle {
    // font-size: 16pt;
}


.d-flex.align-items-center.justify-content-center.border.rounded-circle.text-center {
    &.active {
        background: rgb(255, 221, 170);
    }
    &.isFinish{
        background: rgb(182, 75, 75);
    }
    &.active.isFinish{
        background: green;  
    }

    background-color: #adacac;
}

.error {
    opacity: 0;
}

.modify{
    opacity: 0;
}
.notes{
    color: #a62;
}

.mycard {
    .card:hover {
        .error {
            color: darkgoldenrod;
            opacity: 1;
            cursor: pointer;
        }
        .modify{
            opacity: 1;
            cursor: pointer;
        }
        //display: none;
        background-color: rgb(250, 243, 228);

        .card-body {
            .questionAll:hover {
                background-color: rgb(255, 221, 170);
            }
        }

        .d-flex.align-items-center.justify-content-around.w-100.h-100 {
            div:hover {
                background-color: rgb(255, 221, 170);
            }
        }
    }
}

.mycard {
    .d-flex.align-items-center.justify-content-around.w-100.h-100 {
        p {
            font-size: 50px;
        }

        div {}
    }
}

.a .b {}

.a.b {}

.a,
.b {}