<template>
  <div>
    <div class="row">
      <loading :active.sync="isLoading_login" :is-full-page="fullPage"></loading>
      <div class="col-12">
        <!-- <p class="text-right">馬跡會員專區</p> -->
        <hr />
      </div>
    </div>
    <div v-if="isLogin === false">
      <div class="row mb-2">
        <div class="col-3">
          <label for="email">帳號</label>
        </div>
        <div class="col-9">
          <b-form-input size="sm" type="email" id="email"
          placeholder="請輸入電子郵件" v-model="member_id"></b-form-input>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <label for="password">密碼</label>
        </div>
        <div class="col-9">
          <b-form-input size="sm" type="password" id="password"
          placeholder="密碼" v-model="password"></b-form-input>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <b-form-checkbox
            id="checkbox-1"
            name="checkbox-1"
            value="accepted"
            unchecked-value="not_accepted"
            class="float-right mr-3"
          >保持我的登入狀態</b-form-checkbox>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <b-button size="sm" class="text-white" variant="danger">加入會員</b-button>
        </div>
        <div class="col-6">
          <b-button size="sm" class="float-right text-white" variant="warning" @click="login()">登入</b-button>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="row">
        <div class="col-12">
          <b-button size="sm" class="float-right" @click="Logout()">登出</b-button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pb-5">
          <p>
            {{userinfo.member_id}} 您好!
            您目前有 190 點數
          </p>
          <p v-b-modal.modal-center>>查詢試題購買紀錄</p>
          <b-modal id="modal-center" centered title="試題購買紀錄">
            <b-table :items="items" ></b-table>
            <!-- :fields="fields" -->
          </b-modal>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name: 'comlogin',
  components: {
    Loading,
  },
  data() {
    return {
      fullPage: true,
      member_id: '',
      password: '',
      items: [
        {
          試題代號: 'EXAM_108JG5',
          試題名稱: '108年外語導遊日文 [會員版]',
          花費點數: 10,
        },
        {
          試題代號: 'EXAM_108JG5',
          試題名稱: '108年外語導遊日文 [會員版]',
          花費點數: 10,
        },
        {
          試題代號: 'EXAM_108JG5',
          試題名稱: '108年外語導遊日文 [會員版]',
          花費點數: 10,
        },
        {
          試題代號: 'EXAM_108JG5',
          試題名稱: '108年外語導遊日文 [會員版]',
          花費點數: 10,
        },
        {
          試題代號: 'EXAM_108JG5',
          試題名稱: '108年外語導遊日文 [會員版]',
          花費點數: 10,
        },
      ],
    };
  },
  methods: {
    login() {
      this.$store.dispatch('indexPage/Login', {
        member_id: this.member_id,
        password: this.password,
      });
    },
    Logout() {
      localStorage.removeItem('api_token');
      this.$store.commit('indexPage/isLogin', { TF: false, member_id: 'test' });
      this.$store.commit('indexPage/saveUserinfo', {});
    },

  },
  mounted() {
    this.$store.dispatch('indexPage/checkLogin');
  },
  computed: {
    isLoading_login: {
      get() {
        return this.$store.state.indexPage.isLoading_login;
      },
    },
    isLogin: {
      get() {
        return this.$store.state.indexPage.isLogin;
      },
    },
    status: {
      get() {
        return this.$store.state.indexPage.status;
      },
    },
    userinfo: {
      get() {
        return this.$store.state.indexPage.userinfo;
      },
    },
  },
};
</script>
<style lang="scss">

</style>
