<template>
  <div class="question-box" :class="{'question-single':single}">
    <!-- {{ proqkey }} -->
    <div
      class="question-exam"
      v-for="(item, index) in questions"
      :key="index"
      :class="{ active:proqkey==index + 1}"
    >
      <!-- <div v-html="item.art"></div> -->
      <b-card v-if="!item.fill&&!item.read" :id="'__q' + item.questionnumber" no-body>
        <!--@click="selectQ(index)"-->
        <b-row no-gutters>
          <div class="d-flex">
            <!-- <h5 class="pl-2">{{item.questionnumber}}</h5> -->
            <div class="pl-3">
              <font-awesome-icon
                v-b-modal.modal-center
                class="error"
                v-if="qa_method==='VIP'"
                :icon="['fas', 'exclamation-triangle']"
                @click="errorSubmit(item)"
              />
            </div>
            <div class="pl-3">
              <font-awesome-icon
                v-b-modal.modal-center2
                class="modify"
                v-if="qa_method==='VIP'&&userinfo.Authority"
                :icon="['fas', 'tools']"
                @click="modifyQuestions(item)"
              />
            </div>
          </div>
          <div class="col-4 p-0">
            <div class="d-flex align-items-center justify-content-around w-100 h-100">
              <h5>{{item.questionnumber}}</h5>
              <div
                class="d-flex align-items-center
                justify-content-center border rounded-circle text-center"
                style="width:50px;height:50px;"
                v-for="(j, index2) in item.sel"
                :key="index2"
                @click="selectAns(item.questionnumber,
                                  j.value, AllAns[item.questionnumber - 1].group)"
                :class="{ active:conselectedAns[item.questionnumber - 1]==j.value,
                isFinish:finish2 && ShowCorrectAns(AllAns[item.questionnumber - 1].ans, j.value),
                }"
              >
                <div>{{ j.value }}</div>
              </div>
            </div>
          </div>
          <div class="col-7">
            <b-card-body>
              <b-card-text id="qTitle">
                <!-- {{ `${index + 1}.${item.title}` }} -->
                <div v-html="`${item.title}`"></div>
                <small class="notes" v-if="proTip" v-html="item.notes_title"></small>
              </b-card-text>
              <div class="questionAll" v-for="(i, index3) in item.sel" :key="index3">
                <b-card-text
                  :class="{ active:conselectedAns[item.questionnumber - 1]===i.value,
                  isFinish:finish2 && ShowCorrectAns(AllAns[item.questionnumber - 1].ans,i.value),}"

                  @click="selectAns(item.questionnumber,
                   i.value, AllAns[item.questionnumber - 1].group)"
                >
                  <!-- {{item.selectq}} - {{i.value}} -->
                  <!-- {{ `（${i.value}）${i.name}` }} -->
                  <div v-html="`（${i.value}）${i.name}`"></div>
                  <small class="notes" v-if="proTip" v-html="i.notes"></small>
                </b-card-text>
              </div>
              <!-- <b-card-text :value="Object.keys(item)[1]">{{item.A}}</b-card-text>
              <b-card-text :value="Object.keys(item)[2]">{{item.B}}</b-card-text>
              <b-card-text :value="Object.keys(item)[3]">{{item.C}}</b-card-text>
              <b-card-text :value="Object.keys(item)[4]">{{item.D}}</b-card-text>
              -->
            </b-card-body>
          </div>
        </b-row>
      </b-card>
      <div v-if="item.fill">
        <div v-html="item.fill.art"></div>
        <small class="notes" v-if="proTip" v-html="item.fill.art_notes"></small>
        <b-card
          v-for="(item, index2) in item.fill.data"
          :key="index2"
          :id="'__q' + item.questionnumber"
          no-body
        >
          <b-row no-gutters>
            <div class="d-flex">
              <div>
                <font-awesome-icon
                  v-b-modal.modal-center
                  class="error"
                  v-if="qa_method==='VIP'"
                  :icon="['fas', 'exclamation-triangle']"
                  @click="errorSubmit(item)"
                />
              </div>
              <div class="pl-3">
                <font-awesome-icon
                  v-b-modal.modal-center2
                  class="modify"
                  v-if="qa_method==='VIP'&&userinfo.Authority"
                  :icon="['fas', 'tools']"
                  @click="modifyQuestions(item)"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex align-items-center justify-content-around w-100 h-100">
                <h5>{{item.questionnumber}}</h5>
                <div
                  class="d-flex align-items-center
                  justify-content-center border rounded-circle text-center"
                  style="width:50px;height:50px;"
                  v-for="(j, index2) in item.sel"
                  :key="index2"
                  :class="{ active:conselectedAns[item.questionnumber - 1]==j.value,
                  isFinish:finish2 && ShowCorrectAns(AllAns[item.questionnumber - 1].ans,
                   j.value) }"
                  @click="selectAns(item.questionnumber,
                   j.value, AllAns[item.questionnumber - 1].group)"
                >
                  <div>{{ j.value }}</div>
                </div>
              </div>
            </div>
            <div class="col-7">
              <b-card-body>
                <b-card-text id="qTitle">
                  <div v-html="`${item.title}`"></div>
                  <small class="notes" v-if="proTip" v-html="item.notes_title"></small>
                </b-card-text>
                <div class="questionAll" v-for="(i, index3) in item.sel" :key="index3">
                  <b-card-text
                    :class="{ active:conselectedAns[item.questionnumber - 1]==i.value,
                    isFinish:finish2 && ShowCorrectAns(AllAns[item.questionnumber - 1].ans,
                     i.value) }"
                    @click="selectAns(item.questionnumber, i.value, AllAns[item.questionnumber - 1].group)"
                  >
                    <div v-html="`（${i.value}）${i.name}`"></div>
                    <small class="notes" v-if="proTip" v-html="i.notes"></small>
                  </b-card-text>
                </div>
              </b-card-body>
            </div>
          </b-row>
        </b-card>
      </div>
      <div v-if="item.read">
        <div v-html="item.read.art"></div>
        <small class="notes" v-if="proTip" v-html="item.read.art_notes"></small>
        <b-card
          v-for="(item, index2) in item.read.data"
          :key="index2"
          :id="'__q' + item.questionnumber"
          no-body
        >
          <!--@click="selectQ(index)"-->
          <b-row no-gutters>
            <div class="d-flex">
              <div>
                <font-awesome-icon
                  v-b-modal.modal-center
                  class="error"
                  v-if="qa_method==='VIP'"
                  :icon="['fas', 'exclamation-triangle']"
                  @click="errorSubmit(item)"
                />
              </div>
              <div class="pl-3">
                <font-awesome-icon
                  v-b-modal.modal-center2
                  class="modify"
                  v-if="qa_method==='VIP'&&userinfo.Authority"
                  :icon="['fas', 'tools']"
                  @click="modifyQuestions(item)"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex align-items-center justify-content-around w-100 h-100">
                <h5>{{item.questionnumber}}</h5>
                <div
                  class="d-flex align-items-center justify-content-center border rounded-circle text-center"
                  style="width:50px;height:50px;"
                  v-for="(j, index3) in item.sel"
                  :key="index3"
                  :class="{ active:conselectedAns[item.questionnumber - 1]==j.value && !finish2,
                  isFinish:finish2 && ShowCorrectAns(AllAns[item.questionnumber - 1].ans, j.value) }"
                  @click="selectAns(item.questionnumber, j.value, AllAns[item.questionnumber - 1].group)"
                >
                  <div>{{ j.value }}</div>
                </div>
              </div>
            </div>
            <div class="col-7">
              <b-card-body>
                <b-card-text id="qTitle">
                  <div v-html="`${item.title}`"></div>
                  <small class="notes" v-if="proTip" v-html="item.notes_title"></small>
                </b-card-text>
                <div class="questionAll" v-for="(i, index3) in item.sel" :key="index3">
                  <b-card-text
                    :class="{ active:conselectedAns[item.questionnumber - 1]==i.value,
                    isFinish:finish2 && ShowCorrectAns(AllAns[item.questionnumber - 1].ans, i.value) }"
                    @click="selectAns(item.questionnumber, i.value, AllAns[item.questionnumber - 1].group)"
                  >
                    <div v-html="`（${i.value}）${i.name}`"></div>
                    <small class="notes" v-if="proTip" v-html="i.notes"></small>
                  </b-card-text>
                </div>
              </b-card-body>
            </div>
          </b-row>
        </b-card>
      </div>
      <!-- <b-card v-else-if="single === false" :id="'q' + index" no-body>
        <b-row no-gutters @click="selectQ(index)">
          <div class="col-4 bg-success"></div>
          <div class="col-8">
            <b-card-body :title="`${index + 1}.${item.title}`">
              <b-card-text :value="Object.keys(item)[1]">{{item.A}}</b-card-text>
              <b-card-text :value="Object.keys(item)[2]">{{item.B}}</b-card-text>
              <b-card-text :value="Object.keys(item)[3]">{{item.C}}</b-card-text>
              <b-card-text :value="Object.keys(item)[4]">{{item.D}}</b-card-text>
            </b-card-body>
          </div>
        </b-row>
      </b-card>-->
    </div>
    <b-modal id="modal-center" size="lg" centered title="錯誤回報">
      <div class="row">
        <div class="col-12">
          <b-card>
            <b-row no-gutters>
              <div class="col-12">
                <b-card-body>
                  <b-card-text id="qTitle">
                    <div v-html="ErrorQuestionTemp.title"></div>
                  </b-card-text>
                  <div
                    class="questionAll"
                    v-for="(item, index) in ErrorQuestionTemp.sel"
                    :key="index"
                  >
                    <b-card-text>
                      <div v-html="`（${item.value}）${item.name}`"></div>
                    </b-card-text>
                  </div>
                  <b-card-text>{{`正確答案為：${ErrorQuestionTemp.ans}`}}</b-card-text>
                </b-card-body>
              </div>
            </b-row>
          </b-card>
        </div>
        <div class="col-12">
          <b-card>
            <b-row no-gutters>
              <div class="col-12">
                <b-card-body>
                  <b-card-text id="qTitle">
                    <div>{{`第${ErrorQuestionTemp.questionnumber}題錯誤回報`}}</div>
                  </b-card-text>
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      name="errMsg"
                      id="errMsg"
                      rows="3"
                      v-model="errMsg"
                    ></textarea>
                  </div>
                </b-card-body>
              </div>
            </b-row>
          </b-card>
        </div>
      </div>
    </b-modal>
    <b-modal id="modal-center2" size="lg" centered title="修改題目">
      <div class="row">
        <div class="col-12">
          <b-card>
            <b-row no-gutters>
              <div class="col-12">
                <b-card-body>
                  <b-card-text id="qTitle">
                    <div class="form-group">
                      <textarea
                        class="form-control"
                        name
                        id
                        rows="3"
                        v-model="ModifyQuestionTemp.title"
                      ></textarea>
                      <textarea
                        class="form-control"
                        name
                        id
                        rows="3"
                        v-model="ModifyQuestionTemp.notes_title"
                      ></textarea>
                    </div>
                  </b-card-text>
                  <div
                    class="questionAll"
                    v-for="(item, index) in ModifyQuestionTemp.sel"
                    :key="index"
                  >
                    <b-card-text>
                      <!-- <div v-html="`（${item.value}）${item.name}`"></div> -->
                      <div class="row">
                        <div class="col-2">
                          <label for="input-small">{{`（${item.value}）`}}</label>
                        </div>
                        <div class="col-10">
                          <b-form-input id="input-small" size="sm" v-model="item.name"></b-form-input>
                        </div>
                        <div class="col-2">
                          <label for="input-small">提示：</label>
                        </div>
                        <div class="col-10">
                          <b-form-input id="input-small" size="sm" v-model="item.notes"></b-form-input>
                        </div>
                      </div>
                    </b-card-text>
                  </div>
                  <b-card-text>{{`正確答案為：${ModifyQuestionTemp.ans}`}}</b-card-text>
                </b-card-body>
              </div>
            </b-row>
          </b-card>
        </div>
      </div>
    </b-modal>
  </div>
</template>
<script>
// import _ from 'lodash';

export default {
  /* :title="`${index + 1}.${item.title}`" */
  data() {
    return {
      qkey: 0,
      conselectedAns: {},
      temp: 0,
      ErrorQuestionTemp: {},
      ModifyQuestionTemp: {},
      errMsg: '',
    };
  },
  props: {
    proqkey: Number,
    proTip: Boolean,
    proRe: Boolean,
  },
  methods: {
    ShowCorrectAns(AllAns, SelectedAns) {
      let isCorrect = false;

      const temp = AllAns.indexOf(SelectedAns);

      if (temp !== -1) {
        isCorrect = true;
      } else {
        isCorrect = false;
      }
      return isCorrect;
    },
    errorSubmit(errQu) {
      console.log(errQu);
      this.errMsg = '';
      this.ErrorQuestionTemp = {};
      this.ErrorQuestionTemp = errQu;
    },
    modifyQuestions(modifyQu) {
      console.log(modifyQu);
      this.ModifyQuestionTemp = {};
      this.ModifyQuestionTemp = modifyQu;
    },
    // selectQ(index) {
    //   // this.$store.commit('exam/setqkey', index);
    //   // this.qkey = index;
    //   // this.$emit('qkey2', this.qkey);
    //   // console.log(this.qkey);
    // },
    // eslint-disable-next-line no-unused-vars
    selectAns(index, value, index2) {
      if (!this.finish2) {
        if (!this.single) {
          this.qkey = index2;
        } else if (this.totalQuestion === index) {
          this.qkey = this.AllAns[index - 1].group;
        } else {
          this.qkey = this.AllAns[index].group;
        }
        // console.log(this.single);

        if (this.totalQuestion >= index) {
          this.$emit('qkey2', this.qkey);
        }
        this.conselectedAns = {};
        this.conselectedAns = this.selectedAns;
        // console.log(this.qkey);
        // this.$store.dispatch('exam/writeAns', {
        //   myindex: index,
        //   myvalue: value,
        //   mystatus: true,
        // });
        // this.selectedAns = this.questions[index].sel[index2].value;
        this.$store.dispatch('exam/writeAns', {
          myindex: index,
          myvalue: value,
        });
      // console.log(index);
      // console.log(this.selectedAns[index - 1]);
      // console.log(this.conselectedAns);
      }
    },
  },
  computed: {
    userinfo: {
      get() {
        return this.$store.state.indexPage.userinfo;
      },
    },
    qa_method: {
      get() {
        return this.$store.state.exam.questions.method;
      },
    },
    AllAns: {
      get() {
        return this.$store.state.exam.questions.questionAns;
      },
    },
    selectedAns: {
      get() {
        return this.$store.state.exam.selectedAns;
      },
    },
    totalQuestion: {
      get() {
        return this.$store.state.exam.questions.totalQuestion;
      },
    },
    questions: {
      get() {
        return this.$store.state.exam.questions.result;
      },
      set(data) {
        console.log(data);
      },
    },
    single: {
      get() {
        return this.$store.state.exam.single;
      },
    },
    finish2: {
      get() {
        return this.$store.state.exam.finish;
      },
    },
    // qkey: {
    //   get() {
    //     return this.$store.state.exam.qkey;
    //   },
    // },
  },
  watch: {
    proRe() {
      if (this.proRe) {
        this.conselectedAns = {};
      }
    },
  },
  created() {
    this.qkey = this.proqkey;
  },
  mounted() {},
};
</script>
<style lang="scss">
</style>
